cmake-build-debug/
cmake-build-release/
build/
bin/
lib/
out/

.idea/
*.iml
*.user
*.sln
*.suo
*.vcxproj*
*.userprefs

*.pdb
*.obj
*.exe
*.ilk
*.idb
*.log

CMakeCache.txt
CMakeFiles/
Makefile

.DS_Store
Thumbs.db

*.o
*.class
*.so
*.dll
*.dSYM/
*.swp
*.tmp

*.sublime-workspace
*.sublime-project
